<header [ngClass]="{ fixed: isFixed }">
  <div>
    <div>
      <a href="#">
        <img [src]="whiteLogo" [class.hidden]="showColoredLogo" alt="logo" />
        <img [src]="redLogo" [class.hidden]="!showColoredLogo" alt="logo" />
      </a>
    </div>
    <div>
      <input (click)="changeLogo()" type="checkbox" id="menuCheckbox" [checked]="isChecked" [(ngModel)]="isChecked" />

      <span></span>
      <span></span>
      <span></span>

      <div class="menu" (click)="closeMenu()">
        <a href="#" (click)="scrollToElementWithOffset($event, 'aboutme')">
          <span [translate]="'app.menu.aboutme'"></span>
        </a>
        <a href="#" (click)="scrollToElementWithOffset($event, 'skills')">
          <span [translate]="'app.menu.skills'"></span>
        </a>
        <a href="#" (click)="scrollToElementWithOffset($event, 'projects')">
          <span [translate]="'app.menu.projects'"></span>
        </a>
        <a href="#" (click)="scrollToElementWithOffset($event, 'contactme')">
          <span [translate]="'app.menu.contactme'"></span>
        </a>
        <a (click)="changeLanguage()">{{
          languages[selectedLanguage === 0 ? 1 : 0].title
          }}</a>
        <div (click)="changeColor()"></div>
      </div>
    </div>
  </div>
</header>