<header [ngClass]="{ fixed: isFixed }">
  <div>
    <div>
      <a href="#">
        <img [src]="whiteLogo" [class.hidden]="showColoredLogo" alt="logo" />
        <img [src]="redLogo" [class.hidden]="!showColoredLogo" alt="logo" />
      </a>
    </div>
    <div>
      <input
        (click)="changeLogo()"
        type="checkbox"
        id="menuCheckbox"
        [checked]="isChecked"
        [(ngModel)]="isChecked"
      />

      <span></span>
      <span></span>
      <span></span>

      <div class="menu" (click)="closeMenu()">
        <a href="#aboutme" [translate]="'app.menu.aboutme'"></a>
        <a href="#skills" [translate]="'app.menu.skills'"></a>
        <a href="#projects" [translate]="'app.menu.projects'"></a>
        <a href="#contactme" [translate]="'app.menu.contactme'">Contact</a>
        <a (click)="changeLanguage()">{{
          languages[selectedLanguage === 0 ? 1 : 0].title
        }}</a>
        <div (click)="changeColor()"></div>
      </div>
    </div>
  </div>
</header>
