@import "./../../../styles.scss";

section {
  display: flex;
  justify-content: center;
  position: relative;

  > div {
    display: flex;
    flex-direction: column;
    width: $mainWidth;
    margin: 100px $baseMarginLeftRight;

    > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 80px;

      > h2 {
        font-family: "Baloo", "Courier New", Courier, monospace;
        font-size: 96px;
        font-weight: 400;
        color: $primaryColor;
      }
      > p {
        font-family: "Montserrat", "Courier New", Courier, monospace;
        font-size: 23px;
      }
    }

    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 130px;
    }
  }
}
