<section>
  <img src="img/header-big-bubble.svg" alt="header-big-bubble">

  <div>

    <div>
      <img src="img/photo/main.png" alt="personal-photo">
    </div>

    <div>
      <div>
        <h1>Hello! I am Maedeh</h1>
        <h2>Frontend</h2>
        <h2>Developer</h2>
      </div>

      <div>
        <div>
          <a href="#aboutme">SCROLL</a>
        </div>
        <div></div>
        <div>
          <a href="#">
            <img src="img/icons/github.svg" alt="github">
          </a>
          <a href="#">
            <img src="img/icons/email.svg" alt="email">
          </a>
          <a href="#">
            <img src="img/icons/linkedin.svg" alt="linkedin">
          </a>

        </div>

      </div>
    </div>
  </div>
</section>