<footer>
  <div>
    <div>
      <img src="img/logo/small-logo.png" alt="logo">
    </div>
    <div>
      <span>&copy; Maedeh Khonsari {{nowDate.getFullYear()}}</span>
      <div>
        <a href="#">Impressum</a>
        <div></div>
      </div>
    </div>
    <div>
      <a href="#">
        <img src="img/icons/github-red.svg" alt="github">
      </a>
      <a href="#">
        <img src="img/icons/email-red.svg" alt="email">
      </a>
      <a href="#">
        <img src="img/icons/linkedin-red.svg" alt="linkedin">
      </a>
    </div>

  </div>
</footer>