<section id="aboutme">
  <div>
    <div>
      <h2>Let's work together</h2>
    </div>
    <div>
      <p [innerHTML]="'app.aboutme' | translate"></p>

      <a href="#contactme">
        <app-primary-button [buttonText]="'app.button.sendMessage' | translate"></app-primary-button>  
      </a>

    </div>

  </div>
  <app-red-ball [width]="'206px'" [top]="'-110px'" [right]="'42%'" [hiddenSize]="1200"></app-red-ball>
  <app-red-ball [width]="'82px'" [top]="'55px'" [right]="'25%'"></app-red-ball>
</section>